@import '_responsive';

$font: "Rubik", sans-serif;

$primary-color: rgb(233, 233, 233);
$secondary-color: grey;
$background-color: rgb(10, 10, 10);

@mixin theme {
    background: $background-color;
    color: $primary-color;
    font-family: $font;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;

    /* Makes transition smoother */
    opacity: 0;
}

body {
    @include theme;

    max-width: 840px;
    margin: auto;
    padding: 20px;

    /* Display page elements as a grid */
    display: grid;

    /* Header, controls, and footer take necessary space, remaining fills the viewport */
    grid-template-rows: max-content max-content 1fr max-content;

    /* Limit the body to the viewport height */
    height: 100vh;

    /* Adjust for padding of the body */
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    border-bottom: 1px solid white;
    box-shadow: 0px 10px 20px black;

    @include respond-to('small') {
        font-size: small;
    }
}

#title {
    margin: .5em;
    text-transform: uppercase;
    width: 100%;
}

#logo {
    height: 2em;
    align-self: center;
}

#settings {
    height: 2em;
    align-self: center;
    transition: .4s;
    cursor: pointer;

    &:hover {
        transform: rotate(60deg)
    }
}


/* Settings / controls menu */

#controls {
    padding: .5em;
    border-bottom: 1px solid white;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 2;
    box-shadow: 0px 10px 20px black;

    &.hidden {
        display: block !important;
        padding: 0;
        border: 0;

        div {
            display: none;
        }
    }

    div {
        display: inline-block;
        padding-right: 1em;
    }

    .control {
        cursor: pointer;
    }
}

.legend {
    font-weight: bold;
}

main {
    overflow: scroll;
    padding: 20px;
}

/* Set container */

.set-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 2em;
    padding-bottom: 2em;

    @include respond-to('small') {
        grid-template-columns: 100px 1fr;
        gap: 1.5em;
        padding-bottom: 1.5em;
    }
}

.set-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    /* Needed to keep sizing */
    overflow: auto;
}

/* Thumbnail */

.set-thumbnail {
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgb(233, 233, 233));

    &:hover {
        filter: drop-shadow(0px 0px 2px rgb(233, 233, 233)) brightness(125%);
        transform: translate3d(0px, 2px, 0);
        transition-duration: 0.07s;
    }
}


/* Set title & subtitle */

.set-title {
    color: $primary-color;
    text-decoration: none;

    .set-name {
        font-weight: bold;
        padding-bottom: .4em;
    }

    .set-subtitle {
        font-style: italic;
        color: $secondary-color;
        padding-bottom: 0.4em;

        @include respond-to('small') {
            font-size: x-small;
        }
    }
}

/* Set details */

.set-details span {
    padding-right: 1em;
    display: inline-block;
}

/* Playlist graph */

.song,
.song-tooltip {

    &[data-energy="0"] {
        background-color: grey;
        color: black;

        height: 4px;

        @include respond-to('large') {
            height: 5px;
        }
    }

    &[data-energy="1"] {
        background-color: blue;
        color: white;

        height: 4px;

        @include respond-to('large') {
            height: 10px;
        }
    }

    &[data-energy="2"] {
        background-color: green;
        color: white;

        height: 8px;

        @include respond-to('large') {
            height: 15px;
        }
    }

    &[data-energy="3"] {
        background-color: yellow;
        color: black;

        height: 12px;

        @include respond-to('large') {
            height: 20px;
        }
    }

    &[data-energy="4"] {
        background-color: orange;
        color: black;

        height: 16px;

        @include respond-to('large') {
            height: 25px;
        }
    }

    &[data-energy="5"] {
        background-color: red;
        color: white;

        height: 20px;

        @include respond-to('large') {
            height: 30px;
        }
    }
}

.song-tooltip {
    border: 1px solid white;
    transition: 0.5s;
    padding: 0.2em;

    /* Allows us to set color in one place but unset height here */
    height: unset !important;
}

/* Timeline graph */

.poi-timeline {
    display: inline-block;
    width: 100%;

    path {
        stroke: white;
        stroke-width: 2px;
    }

    .cue-point {
        stroke: white;
        stroke-width: 2px;
    }
}

.svg-content-responsive {
    display: inline-block;
}

.timeline {
    display: flex;
    align-items: center;
    height: 20px;

    .song {
        cursor: crosshair;

        min-height: 4px;
        width: 20px;
        margin: 0px 1px;
        border: 1px solid white;

        &:hover {
            filter: brightness(120%);
            transition-duration: .07s;
            height: 20px !important;
        }

        @include respond-to('large') {
            &:hover {
                height: 30px !important;
            }
        }
    }
}


footer {
    border-top: 1px solid white;
    padding: .5em;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px -10px 20px black;

    a {
        color: $primary-color;
    }
}