@import 'abstracts/colors';
@import 'abstracts/media-query';
@import 'theme';

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;

    /* Makes transition smoother */
    opacity: 0;
}

/* Automatically detect device preference */
@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}

body {
    &.dark {
        @include dark-theme;
    }

    &.light {
        @include light-theme;
    }

    max-width: 840px;
    margin: auto;
    padding: 20px;

    /* Display page elements as a grid */
    display: grid;

    /* Header, controls, and footer take necessary space, remaining fills the viewport */
    grid-template-rows: max-content max-content 1fr max-content;

    /* Limit the body to the viewport height */
    height: 100vh;

    /* Adjust for padding of the body */
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    border-bottom: 1px solid var(--color-primary);
    box-shadow: 0px 10px 20px var(--color-background);

    @include respond-to('small') {
        font-size: x-small;
    }
}

#title {
    margin: .5em;
    text-transform: uppercase;
    width: 100%;
}

#logo {
    height: 2em;
    align-self: center;
}

main {
    overflow: scroll;
    padding: 20px;
}

footer {
    border-top: 1px solid var(--color-primary);
    padding: .5em;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px -10px 20px var(--color-background);

    a {
        color: var(--color-primary);
    }
}