@use '../base';

#about-page {

    main {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1em;
    }

    div {
        grid-column: 2 / span 4;
    }

    a {
        color: var(--color-primary)
    }

    .code {
        font-family: 'Courier New', Courier, monospace;
        background: #4d4d4d;
        padding: 0em .2em;
        border-radius: .2em;
    }

    #example-timeline {
        width: 100%;
    }

    #example-playlist {
        width: 100%;
        padding: 10px 0;
        height: 70px;
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        main {
            display: block;
        }
    }
}