/* Colors */
/* Light Mode */
/* From https://sass-guidelin.es/#architecture */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  /* Makes transition smoother */
  opacity: 0;
}

/* Automatically detect device preference */
@media (prefers-color-scheme: dark) {
  body {
    font-family: "Rubik", sans-serif;
    --color-primary: rgb(233, 233, 233);
    --color-secondary: rgb(128, 128, 128);
    --color-background: rgb(10, 10, 10);
    color: var(--color-primary);
    background-color: var(--color-background);
  }
}
@media (prefers-color-scheme: light) {
  body {
    font-family: "Rubik", sans-serif;
    --color-primary: rgb(22, 22, 22);
    --color-secondary: rgb(117, 117, 117);
    --color-background: rgb(245, 245, 245);
    color: var(--color-primary);
    background-color: var(--color-background);
  }
}
body {
  max-width: 840px;
  margin: auto;
  padding: 20px;
  /* Display page elements as a grid */
  display: grid;
  /* Header, controls, and footer take necessary space, remaining fills the viewport */
  grid-template-rows: max-content max-content 1fr max-content;
  /* Limit the body to the viewport height */
  height: 100vh;
  /* Adjust for padding of the body */
  box-sizing: border-box;
}
body.dark {
  font-family: "Rubik", sans-serif;
  --color-primary: rgb(233, 233, 233);
  --color-secondary: rgb(128, 128, 128);
  --color-background: rgb(10, 10, 10);
  color: var(--color-primary);
  background-color: var(--color-background);
}
body.light {
  font-family: "Rubik", sans-serif;
  --color-primary: rgb(22, 22, 22);
  --color-secondary: rgb(117, 117, 117);
  --color-background: rgb(245, 245, 245);
  color: var(--color-primary);
  background-color: var(--color-background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0px 10px 20px var(--color-background);
}
@media (max-width: 600px) {
  header {
    font-size: x-small;
  }
}

#title {
  margin: 0.5em;
  text-transform: uppercase;
  width: 100%;
}

#logo {
  height: 2em;
  align-self: center;
}

main {
  overflow: scroll;
  padding: 20px;
}

footer {
  border-top: 1px solid var(--color-primary);
  padding: 0.5em;
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 1;
  box-shadow: 0px -10px 20px var(--color-background);
}
footer a {
  color: var(--color-primary);
}

/* Colors */
/* Light Mode */
/* From https://sass-guidelin.es/#architecture */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  /* Makes transition smoother */
  opacity: 0;
}

/* Automatically detect device preference */
@media (prefers-color-scheme: dark) {
  body {
    font-family: "Rubik", sans-serif;
    --color-primary: rgb(233, 233, 233);
    --color-secondary: rgb(128, 128, 128);
    --color-background: rgb(10, 10, 10);
    color: var(--color-primary);
    background-color: var(--color-background);
  }
}
@media (prefers-color-scheme: light) {
  body {
    font-family: "Rubik", sans-serif;
    --color-primary: rgb(22, 22, 22);
    --color-secondary: rgb(117, 117, 117);
    --color-background: rgb(245, 245, 245);
    color: var(--color-primary);
    background-color: var(--color-background);
  }
}
body {
  max-width: 840px;
  margin: auto;
  padding: 20px;
  /* Display page elements as a grid */
  display: grid;
  /* Header, controls, and footer take necessary space, remaining fills the viewport */
  grid-template-rows: max-content max-content 1fr max-content;
  /* Limit the body to the viewport height */
  height: 100vh;
  /* Adjust for padding of the body */
  box-sizing: border-box;
}

body.dark {
  font-family: "Rubik", sans-serif;
  --color-primary: rgb(233, 233, 233);
  --color-secondary: rgb(128, 128, 128);
  --color-background: rgb(10, 10, 10);
  color: var(--color-primary);
  background-color: var(--color-background);
}

body.light {
  font-family: "Rubik", sans-serif;
  --color-primary: rgb(22, 22, 22);
  --color-secondary: rgb(117, 117, 117);
  --color-background: rgb(245, 245, 245);
  color: var(--color-primary);
  background-color: var(--color-background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0px 10px 20px var(--color-background);
}

@media (max-width: 600px) {
  header {
    font-size: x-small;
  }
}
#title {
  margin: 0.5em;
  text-transform: uppercase;
  width: 100%;
}

#logo {
  height: 2em;
  align-self: center;
}

main {
  overflow: scroll;
  padding: 20px;
}

footer {
  border-top: 1px solid var(--color-primary);
  padding: 0.5em;
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 1;
  box-shadow: 0px -10px 20px var(--color-background);
}

footer a {
  color: var(--color-primary);
}

#about-page {
  /* Extra small devices (phones, 600px and down) */
}
#about-page main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;
}
#about-page div {
  grid-column: 2/span 4;
}
#about-page a {
  color: var(--color-primary);
}
#about-page .code {
  font-family: "Courier New", Courier, monospace;
  background: #4d4d4d;
  padding: 0em 0.2em;
  border-radius: 0.2em;
}
#about-page #example-timeline {
  width: 100%;
}
#about-page #example-playlist {
  width: 100%;
  padding: 10px 0;
  height: 70px;
}
@media only screen and (max-width: 600px) {
  #about-page main {
    display: block;
  }
}

#search-results {
  margin-bottom: 1em;
}

/* Playlist view */
.playlist {
  margin-top: 1em;
}
.playlist .artist {
  font-style: italic;
  color: var(--color-secondary);
}
.playlist .artist::before {
  content: " - ";
}
.playlist .remix {
  font-style: italic;
}
.playlist .remix::before {
  content: " (";
}
.playlist .remix::after {
  content: ")";
}

/* Set container */
.set-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 2em;
  padding-bottom: 2em;
}
@media (max-width: 600px) {
  .set-container {
    grid-template-columns: 100px 1fr;
    gap: 1.5em;
    padding-bottom: 1.5em;
  }
}

.set-info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* Needed to keep sizing */
  overflow: auto;
}

/* Thumbnail */
.set-thumbnail {
  width: 100%;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 3px rgb(233, 233, 233));
}
.set-thumbnail:hover {
  filter: drop-shadow(0px 0px 2px rgb(233, 233, 233)) brightness(125%);
  transform: translate3d(0px, 2px, 0);
  transition-duration: 0.07s;
}

/* Set title & subtitle */
.set-title {
  color: var(--color-primary);
  text-decoration: none;
}
.set-title .set-name {
  font-weight: bold;
  padding-bottom: 0.4em;
}
.set-title .set-subtitle {
  font-style: italic;
  color: var(--color-secondary);
  padding-bottom: 0.4em;
}
@media (max-width: 600px) {
  .set-title .set-subtitle {
    font-size: x-small;
  }
}

/* Set details */
.set-details span {
  padding-right: 1em;
  display: inline-block;
}

/* Settings / controls menu */
#settings {
  height: 2em;
  align-self: center;
  transition: 0.4s;
  cursor: pointer;
}
#settings:hover {
  transform: rotate(60deg);
}

#controls {
  padding: 0.5em;
  border-bottom: 1px solid var(--color-primary);
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 2;
  box-shadow: 0px 10px 20px var(--color-background);
}
#controls.hidden {
  display: block !important;
  padding: 0;
  border: 0;
}
#controls.hidden div {
  display: none;
}
#controls div {
  display: inline-block;
  margin: 0.2em 0em;
  margin-right: 1em;
}
@media (max-width: 600px) {
  #controls div {
    display: block;
    margin-right: 0em;
  }
}
#controls .control {
  cursor: pointer;
}
#controls #bpm input {
  appearance: textfield;
  cursor: pointer;
  color: inherit;
  background: inherit;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  width: 3em;
  text-align: center;
  /* Hide number select arrows in Chrome, Safari, Edge, Opera */
  /* Hide number select arrows in Firefox */
}
#controls #bpm input input::-webkit-outer-spin-button,
#controls #bpm input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#controls #bpm input input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Timeline graph */
.timeline {
  display: inline-block;
  width: 100%;
}
.timeline path {
  stroke: rgb(233, 233, 233);
  stroke-width: 2px;
}
.timeline .cue-point {
  stroke: rgb(233, 233, 233);
  stroke-width: 2px;
}

.svg-content-responsive {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
