/* Brand */
$color-brand-pink: #ff2d78;
$color-brand-yellow: #fff278;

/* Colors */

$primary-color: #f0f0f0;
$secondary-color: #a0a0a0;

$background-color: #0f0f0f;

$ui-primary-color: $primary-color;


/* Light Mode */
$primary-color-light: #161616;
$secondary-color-light: #757575;

$background-color-light: #f5f5f5;

$ui-primary-color-light: $primary-color-light;
