@font-face {
    font-family: 'Always Smile';
    src: url('/assets/fonts/AlwaysSmile.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Staatliches';
    src: url('/assets/fonts/Staatliches-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
