body {
    background-color: rgb(30, 30, 30);
    color: rgb(233, 233, 233);
    font-family: "Lucida Console", "Courier New", monospace;
    max-width: 840px;
    margin: auto;
    padding: 20px;
}

main {
    /* 4-column grid with 20px gutters */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
}

#title {
    grid-column: 1 / span 4;
}

.set-title {
    grid-column: 1 / span 1;
    color: white;
}

.timeline {
    grid-column: 2 / span 3;

    display: flex;
    justify-content: left;
    align-items: center;
}

.timeline .song {
    margin: 0px 1px;
    cursor: crosshair;
    min-height: 4px;
    width: 20px;
    border: 1px solid white;
}

.timeline .song:hover {
    height: 20px !important;
    filter: brightness(120%);
    transition-duration: .07s;
}

.song[data-energy="0"] {
    background-color: grey;
    height: 4px;
}

.song[data-energy="1"] {
    background-color: blue;
    height: 4px;
}

.song[data-energy="2"] {
    background-color: green;
    height: 8px;
}

.song[data-energy="3"] {
    background-color: yellow;
    height: 12px;
}

.song[data-energy="4"] {
    background-color: orange;
    height: 16px;
}

.song[data-energy="5"] {
    background-color: red;
    height: 20px;
}