/* Playlist view */

.playlist {

    margin-top: 1em;

    .artist {
        font-style: italic;
        color: var(--color-secondary);

        &::before {
            content: " - ";
        }
    }

    // .title {
    // }
}