/* Settings / controls menu */

#settings {
    height: 2em;
    align-self: center;
    transition: .4s;
    cursor: pointer;

    &:hover {
        transform: rotate(60deg)
    }
}

#controls {
    padding: .5em;
    border-bottom: 1px solid $primary-color;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 2;
    box-shadow: 0px 10px 20px black;

    &.hidden {
        display: block !important;
        padding: 0;
        border: 0;

        div {
            display: none;
        }
    }

    div {
        display: inline-block;
        margin: .2em 0em;
        margin-right: 1em;

        @include respond-to('small') {
            display: block;
            margin-right: 0em;
        }
    }

    .control {
        cursor: pointer;
    }

    #bpm input {
        appearance: textfield;
        cursor: pointer;
        color: inherit;
        background: inherit;
        border: none;
        border-bottom: 1px solid $primary-color;
        width: 3em;
        text-align: center;

        /* Hide number select arrows in Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide number select arrows in Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    }
}