/* Set container */

.set-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 2em;
    padding-bottom: 2em;

    @include respond-to('small') {
        grid-template-columns: 100px 1fr;
        gap: 1.5em;
        padding-bottom: 1.5em;
    }
}

.set-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    /* Needed to keep sizing */
    overflow: auto;
}

/* Thumbnail */

.set-thumbnail {
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgb(233, 233, 233));

    &:hover {
        filter: drop-shadow(0px 0px 2px rgb(233, 233, 233)) brightness(125%);
        transform: translate3d(0px, 2px, 0);
        transition-duration: 0.07s;
    }
}


/* Set title & subtitle */

.set-title {
    color: var(--color-primary);
    text-decoration: none;

    .set-name {
        font-weight: bold;
        padding-bottom: .4em;
    }

    .set-subtitle {
        font-style: italic;
        color: var(--color-secondary);
        padding-bottom: 0.4em;

        @include respond-to('small') {
            font-size: x-small;
        }
    }
}

/* Set details */

.set-details span {
    padding-right: 1em;
    display: inline-block;
}