/* Timeline graph */

@import "../abstracts/_graph.scss";


.timeline-container {
    @include graph-container;

    .timeline {
        display: inline-block;
        width: 100%;

        // Intentionally left white stroke
        path {
            stroke: $primary-color;
            stroke-width: 2px;
        }

        // Intentionally left white stroke
        .cue-point {
            stroke: $primary-color;
            stroke-width: 2px;
        }
    }
}